extends ../../templates/page/template.page-base-adaptativo.pug

block styles
	link(rel="stylesheet", href="style.css")

block body
	body
		section.sec1
			.flex
				img(src="", alt="")
				.boxright
					h1 Fundamentos de uma proposta de Educação Integral para os Anos Finais
					p Os Anos Finais do Ensino Fundamental marcam um ponto crítico na trajetória escolar. Nessa etapa, aumentam as taxas de abandono e se intensifica o descompasso entre as formas de ensinar e as necessidades dos adolescentes.
					p Para responder a esse cenário, e em diálogo com a política nacional Escola das Adolescências, a Coalizão de Anos Finais desenvolveu a proposta de Educação Integral para essa etapa.

			
block scripts
	script(src="script.js")