extends ../../templates/page/template.page-base-adaptativo.pug

block styles
	link(rel="stylesheet", href="style.css")

block body
	body
		img.bgtotal(src="../../assets/img/bgtotal.jpg", alt="")
		
		section.sec1
			img.img(src="../../assets/img/img1.png", alt="")
			.boxright
				h1 Fundamentos de uma proposta de Educação Integral para os Anos Finais
				p Os Anos Finais do Ensino Fundamental marcam um ponto crítico na trajetória escolar. Nessa etapa, aumentam as taxas de abandono e se intensifica o descompasso entre as formas de ensinar e as necessidades dos adolescentes.
				p Para responder a esse cenário, e em diálogo com a política nacional Escola das Adolescências, a Coalizão de Anos Finais desenvolveu a proposta de Educação Integral para essa etapa.

		section.sec2
			.boxImg
				img.img(src="../../assets/img/img2.png", alt="")
				.boxText
					h2 Por que uma proposta de Educação Integral para os Anos Finais?
					p Nesta fase da vida, os adolescentes passam por um momento singular do desenvolvimento, repleto de desafios e oportunidades. A escola precisa fazer sentido para o estudante, dialogando com seus interesses, realidades e promovendo, de fato, sua aprendizagem e desenvolvimento integral.
					p Também é preciso olhar para as demandas específicas da etapa, deixando de olhar como extensão dos Anos Iniciais ou preparação para o Ensino Médio.
					.content
						p Ao final deste módulo, você conhecerá mais da especificidade dos Anos Finais e terá explorado os principais conceitos relacionados à educação integral e adolescências, além de reconhecer o quão estratégico é o papel da Equipe Técnica da Secretaria de Educação para esta implementação. Vamos começar?
		
		section.sec3
			img.img(src="../../assets/img/img3.png", alt="")
			.boxText
				h2 Objetivos do Módulo:
				.flex
					.line1
					p Alinhar conceitos fundamentais da proposta, como educação integral, desenvolvimento integral, adolescências e equidade.
				.flex
					.line1
					p Apresentar o papel fundamental da equipe técnica da Secretaria na promoção do fortalecimento dos Anos Finais.
				h2 Neste primeiro momento da jornada, vamos:
				.flex
					.line2
					p Compreender a Educação Integral como princípio fundante para o fortalecimento dos Anos Finais do Ensino Fundamental.
				.flex
					.line2
					p Identificar os principais desafios e as janelas de oportunidade relacionados ao fortalecimento dos Anos Finais do Ensino Fundamental.
			
block scripts
	script(src="script.js")