extends ../../templates/page/template.page-base-adaptativo.pug

block styles
	link(rel="stylesheet", href="style.css")

block body
	body
		
		section.sec1
			img.img.wow_left(src="../../assets/img/img1.png", alt="")
			.boxright.wow_right
				h1 Fundamentos de uma proposta de Educação Integral para os Anos Finais
				p Ao longo deste módulo, vamos mergulhar nas especificidades dos Anos Finais do Ensino Fundamental, compreender as lacunas e possibilidades desta etapa, além de detalhar os princípios que sustentam a Educação Integral.
				p Mas, antes de apresentarmos os objetivos deste módulo, você pode estar se perguntando:
			img.detal(src="../../assets/img/detal1.png", alt="")

		section.sec2.wow_up
			.boxImg
				img.img(src="../../assets/img/img2.png", alt="")
				.boxText
					h2 Por que uma proposta de Educação Integral para os Anos Finais? 
					p Nesta fase da vida, as e os adolescentes passam por um momento singular do desenvolvimento, repleto de desafios e oportunidades. A escola precisa fazer sentido para o estudante, dialogando com seus interesses, realidades e promovendo, de fato, sua aprendizagem e desenvolvimento integral.
					p Também é preciso olhar para as demandas específicas da etapa, deixando de olhar como extensão dos Anos Iniciais ou preparação para o Ensino Médio.
					.content
						p Ao final deste módulo, você conhecerá mais da especificidade dos Anos Finais e terá explorado os principais conceitos relacionados à educação integral e adolescências, além de reconhecer o quão estratégico é o papel da Equipe Técnica da Secretaria de Educação para esta implementação. Vamos começar?

		section.sec3
			img.img.left(src="../../assets/img/img3.png", alt="")
			.boxText.wow_right
				h2 Objetivos do Módulo:
				.flex
					.line1
					p Alinhar conceitos fundamentais da proposta, como educação integral, desenvolvimento integral, adolescências e equidade.
				.flex
					.line1
					p Apresentar o papel fundamental da equipe técnica da Secretaria na promoção do fortalecimento dos Anos Finais.
				.flex
					.line1
					p Compreender a Educação Integral como princípio fundante para o fortalecimento dos Anos Finais do Ensino Fundamental.
				p <b>Neste primeiro momento da jornada, vamos identificar os principais desafios e as janelas de oportunidade relacionados ao fortalecimento dos Anos Finais do Ensino Fundamental.</b>

			img.detal(src="../../assets/img/detal2.png", alt="")

		section.sec4.wow_up
			h2 Por que fortalecer os Anos Finais?
			p Para avançarmos, precisamos olhar de frente para pontos cruciais como:
			.infoClick
				img(src="../../assets/img/mouse.png", alt="")
				p Clique nos itens para entender os pontos.
			.container-accordeon
				.corpbtn
					button.accordeon-title(aria-label="A complexidade da rede:")
						h3 A complexidade da rede: 
						.seta
					.accordeon-texto
						p A responsabilidade compartilhada entre estados e municípios na oferta de matrículas exige uma articulação cada vez mais integrada e colaborativa.

				.corpbtn
					button.accordeon-title(aria-label="A especificidade das adolescências:")
						h3 A especificidade das adolescências:
						.seta
					.accordeon-texto
						p É preciso aprofundar o que sabemos sobre as necessidades reais dos estudantes, especialmente à luz das contribuições da neurociência sobre essa fase de intensas transformações.

				.corpbtn
					button.accordeon-title(aria-label="As desigualdades que persistem:")
						h3 As desigualdades que persistem:
						.seta
					.accordeon-texto
						p Enfrentar as desigualdades é essencial para garantir o direito à aprendizagem e promover trajetórias educacionais equitativas para todos os estudantes.

				.corpbtn
					button.accordeon-title(aria-label="O alerta do abandono:")
						h3 O alerta do abandono:
						.seta
					.accordeon-texto
						p Os indicadores de evasão, reprovação e abandono escolar nesta etapa evidenciam a urgência de repensar as práticas e estratégias educacionais.
			
			.boxOrange.wow_right
				img.ico(src="../../assets/img/ico1.png", alt="")
				p Fortalecer esta etapa não é apenas uma meta técnica, mas uma missão essencial para garantirmos que a escola ofereça trajetórias significativas, equitativas e conectadas ao desenvolvimento integral de cada estudante.
				.content 
					p Fortalecer os Anos Finais começa com a compreensão das singularidades dessa etapa educacional. Convidamos você a embarcar nessa reflexão!
		
		section.sec5.wow_up
			img.img(src="../../assets/img/tabela1b.png", alt="")
			button.btnModal(data-modal="#modal1")
				img(src="../../assets/img/btnmodal1.png", alt="")
			.boxOrange.wow_right
				img.ico(src="../../assets/img/ico2.png", alt="")
				p Os dados mostram que ainda há desafios para que os estudantes aprendam o que é esperado. Então, o que acontece entre o 6º e o 9º ano — tanto na vida dos estudantes, quanto na organização curricular e escolar — que explica esses dados e indica a importância de uma atuação focada nesta etapa?
			
			.modal.modal1#modal1
				.boxModal
					button.modal-close
						img(src="../../assets/img/close.png", alt="")
					h2 Desigualdades de aprendizagem nos anos finais
					.flex
						.boxBlocks
							.bloco.bloco1
								p Estudantes mais pobres e estudantes negros apresentam piores resultados de aprendizagem (Prova Brasil 2007–2019).
							.bloco.bloco2
								p Em 2022, 7 em cada 10 estudantes que abandonaram a escola eram pretos e pardos (PNAD Contínua, 2022)
							.bloco.bloco3
								p Meninas e meninos negros têm desempenho inferior ao de estudantes brancos. (PNAD Contínua.2022)
							.bloco.bloco4
								p Meninas negras apresentam os menores resultados em Matemática ao final do Ensino Fundamental. (Prova Brasil 2007–2019).
						.boxText
							p Essas desigualdades são resultado do racismo estrutural, que afeta a população negra e se expressa em piores condições econômicas e sociais em comparação à população branca.
							p Outro fator que contribui para essa defasagem é a presença de estereótipos negativos associados aos estudantes negros, o que impacta sua autoestima e, consequentemente, suas aprendizagens.
							p As desigualdades de raça e gênero se cruzam, fazendo com que meninas negras enfrentem, simultaneamente, barreiras de acesso à educação relacionadas ao racismo e ao machismo.
							p Ao longo do percurso formativo, avançaremos na compreensão das adolescências e na promoção da equidade nos Anos Finais do Ensino Fundamental.

		section.sec6
			.boxText.wow_left
				h2 O abandono escolar nos Anos Finais
				p O abandono escolar, monitorado anualmente pelo Censo Escolar, ocorre quando o estudante deixa de frequentar a escola durante o ano letivo. Nos Anos Finais, esse indicador é especialmente sensível, pois é nessa etapa que se concentra a transição entre a infância e a adolescência, período marcado por vulnerabilidades que aumentam o risco de saída precoce.
				p Por ser um fenômeno multicausal, influenciado por dificuldades de aprendizagem, condições socioeconômicas e dinâmicas familiares, seu enfrentamento exige tanto políticas públicas estruturais quanto práticas escolares capazes de identificar e apoiar os estudantes em situação de risco.
				p De acordo com o Censo Escolar 2024, a taxa de abandono no Ensino Fundamental na rede pública consolidou-se em aproximadamente 1,3%.
				p Com cerca de 9,5 milhões de matrículas nos Anos Finais da rede pública, uma taxa de 1,3% representa aproximadamente 123 mil adolescentes que interrompem suas trajetórias escolares precocemente.
				p Os dados mostram que o abandono não é uniforme. Ele é acentuado por desigualdades de cor/raça (com taxas maiores entre estudantes pretos e pardos) e por territórios, sendo mais crítico em regiões de maior vulnerabilidade social.
			img.img.wow_right(src="../../assets/img/img4.png", alt="")
		
		section.sec7.wow_up
			.boxText.wow_right
				h2 Por que focar no diagnóstico dos Anos Finais?
				p Os indicadores mais recentes da plataforma Busca Ativa Escolar (atualizados em 12/02/2026) revelam uma face crucial desse desafio:
				p O fator desinteresse: foram registrados 110.340 casos de evasão motivados pelo sentimento de que a escola é desinteressante.
				p O que esse número nos diz? Mais de 100 mil adolescentes deixaram as salas de aula não por falta de vaga ou impedimentos físicos, mas porque não encontraram conexão entre o espaço escolar e suas vidas. Para esses estudantes, a escola deixou de ser um espaço de descoberta para se tornar um lugar de desengajamento.
				p Os dados de abandono colaboram para diagnósticos consistentes permite refletir:
				.boxFlex
					.flex
						.line2
						p Onde o desengajamento adolescente começa a se transformar em falta de frequência e abandono?
					.flex
						.line2
						p Como as desigualdades impactam diretamente na permanência e acesso ao direito à educação?
					.flex
						.line2
						p Quais barreiras do território estão impedindo o acesso?
					p Conheça os dados acessando:
					a.link(href="https://buscaativaescolar.org.br/", target="_blank", rel="noopener noreferrer") 
						img(src="../../assets/img/btnmodal1.png", alt="")

			img.img.wow_left(src="../../assets/img/img5.png", alt="")

		section.sec8.wow_up
			h2 Número total de estudantes das redes municipal e estadual que abandonaram a escola
			p.w100 A seguir, veja o número de estudantes em situação de abandono escolar.
			img.img(src="../../assets/img/tabela2c.png", alt="")
			p.w100.mt2.small Fonte: painel da Busca Ativa Escolar/UNICEF (https://buscaativaescolar.org.br/municipios)
			.boxOrange.wow_right
				img.ico(src="../../assets/img/ico2.png", alt="")
				p Diante desse cenário, torna-se necessário avançar em respostas mais estruturadas e intencionais. A proposta de Educação Integral para os Anos Finais do Ensino Fundamental surge como um caminho para enfrentar esses desafios, colocando as necessidades dos adolescentes no centro e promovendo maior coerência pedagógica na rede.
				p Mas na prática, o que isso significa?
		
		section.sec9.wow_up
			h2 Educação Integral de qualidade como direito 
			p Fortalecer os Anos Finais significa, na prática, garantir que cada adolescente acesse o seu direito a uma formação que não o fragmente. Isso exige que olhemos para o desenvolvimento pleno, integrando as dimensões cognitivas, sociais, emocionais, culturais e éticas. Esse compromisso se materializa quando asseguram uma educação com qualidade social. 
			p Para entender o que compõe essa qualidade na prática, vamos explorar juntos os pilares que sustentam essa oferta:
			.infoClick
				img(src="../../assets/img/mouse.png", alt="")
				p Clique nos tópicos para conhecer.
			.topicos
				.flexButtons
					button.tp1.active
						p Relevância
						.seta
					button.tp2
						p Pertinência
						.seta
					button.tp3
						p Equidade
						.seta
				.boxTopico
					.box.boxtp1.active
						p Não basta ensinar; é preciso que o que se aprende faça sentido. A relevância acontece quando promovemos aprendizagens que dialogam com as exigências do mundo contemporâneo e, ao mesmo tempo, impulsionam o desenvolvimento pessoal de cada estudante.
						p.small Fonte: Resolução CNE-CEB nº 7, de 14 de dezembro de 2010. Fixa Diretrizes Curriculares Nacionais para o Ensino Fundamental de 9 (nove) anos, p. 130
					.box.boxtp2
						p Este pilar convida a olhar para a identidade de cada contexto educativo. Uma educação é pertinente quando consegue, de facto, dialogar com as necessidades e características reais dos estudantes. Isso significa considerar os diversos contextos sociais e culturais, respeitando as diferentes capacidades e interesses. Em última análise, ser pertinente é garantir que a escola "fale a língua" das adolescências que habitam o território.
						p.small Fonte: Adaptado de Resolução CNE-CEB nº 7, de 14 de dezembro de 2010. Fixa Diretrizes Curriculares Nacionais para o Ensino Fundamental de 9 (nove) anos, p. 130
					.box.boxtp3
						p Um dos maiores desafios da gestão pública, a equidade lembra que tratar todos da mesma forma nem sempre é justo. Significa ter a sensibilidade e a estratégia para tratar de forma diferenciada o que se apresenta como desigual no ponto de partida. O objetivo aqui é claro: assegurar que todos tenham o direito à educação garantido, oferecendo mais apoios a quem mais precisa para que as aprendizagens e o desenvolvimento sejam, ao final da caminhada, equiparáveis para todos.
						p.small Fonte: Adaptado de Resolução CNE-CEB nº 7, de 14 de dezembro de 2010. Fixa Diretrizes Curriculares Nacionais para o Ensino Fundamental de 9 (nove) anos, p. 130
			img.detal(src="../../assets/img/detal3.png", alt="")

		section.sec10.wow_up
			h2 Mas isso não é fácil, não é mesmo? Vejamos agora uma série de desafios na implementação da Educação Integral de qualidade:
			p O olhar para dados e evidências sobre os Anos Finais do Ensino Fundamental contribui para o planejamento de ações intencionais de fortalecimento dessa etapa na rede. Explore os itens abaixo e reflita sobre como esses desafios se expressam em seu território.
			.infoClick
				img(src="../../assets/img/mouse.png", alt="")
				p Clique nos itens para entender os pontos.
			.container-accordeon
				.corpbtn
					button.accordeon-title(aria-label="A complexidade da rede:")
						h3 A complexidade da rede: 
						.seta
					.accordeon-texto
						p A oferta dos Anos Finais é compartilhada entre estados e municípios, o que pode contribuir para a fragmentação da etapa e ampliar desafios de gestão e articulação entre redes. Atualmente, as redes municipais concentram 53% das matrículas, enquanto as redes estaduais atendem 47%.
						p <b>E em sua rede de ensino, como está organizada a oferta dos Anos Finais? Quais conquistas esse modelo tem possibilitado? Que desafios ainda se colocam para garantir continuidade e qualidade no percurso dos estudantes?</b>
				.corpbtn
					button.accordeon-title(aria-label="Desafios de gestão")
						h3 Desafios de gestão 
						.seta
					.accordeon-texto
						p A oferta dos Anos Finais é compartilhada entre estados e municípios, o que pode contribuir para a fragmentação da etapa e ampliar desafios de gestão e articulação entre redes. Atualmente, as redes municipais concentram 53% das matrículas, enquanto as redes estaduais atendem 47%.
						p <b>E em sua rede de ensino, como está organizada a oferta dos Anos Finais? Quais conquistas esse modelo tem possibilitado? Que desafios ainda se colocam para garantir continuidade e qualidade no percurso dos estudantes?</b>
				.corpbtn
					button.accordeon-title(aria-label="Desafios de aprendizagem e permanência")
						h3 Desafios de aprendizagem e permanência 
						.seta
					.accordeon-texto
						p Os Anos Finais concentram desafios importantes relacionados à permanência e à aprendizagem. Nessa etapa, aumentam os índices de evasão, abandono e reprovação, ao mesmo tempo em que se observa, em nível nacional, uma queda no desempenho escolar quando comparado aos Anos Iniciais. Esses indicadores revelam a necessidade de fortalecer práticas pedagógicas e estratégias de acompanhamento das trajetórias escolares dos estudantes.
						p <b>E em sua rede de ensino, quais são os principais desafios relacionados à aprendizagem e à permanência dos estudantes nos Anos Finais? Que fatores ajudam a explicar esses resultados no território?</b>
				.corpbtn
					button.accordeon-title(aria-label="Desafios de equidade")
						h3 Desafios de equidade 
						.seta
					.accordeon-texto
						p Os resultados educacionais brasileiros revelam desigualdades persistentes na aprendizagem entre diferentes grupos de estudantes. Avaliações nacionais mostram que, em média, estudantes brancos apresentam níveis de proficiência mais elevados do que estudantes negros, pardos e indígenas, evidenciando desigualdades históricas que atravessam a escola.
						p Essas diferenças se combinam a fatores como condições socioeconômicas, território, gênero e deficiência, produzindo experiências escolares distintas para as diversas adolescências.
						p <b>Que desigualdades os dados revelam em sua rede? Como essas evidências têm orientado ações para promover maior equidade nos Anos Finais?</b>

		section.sec11.wow_up
			h2 Para além dos desafios: as janelas de oportunidade nos Anos Finais
			p Os Anos Finais do Ensino Fundamental marcam um período de intensas transformações no desenvolvimento dos adolescentes e de importantes desafios para as redes de ensino. Apesar de sua relevância estratégica, essa etapa historicamente recebeu menor priorização nas políticas educacionais, cenário que começa a se alterar com a Política Nacional Escola das Adolescências. 
			p Por isso, compreender suas especificidades, tanto do ponto de vista do desenvolvimento humano quanto da organização das políticas públicas, é fundamental para seu fortalecimento.
			.infoClick
				img(src="../../assets/img/mouse2.png", alt="")
				p Clique nos cartões a seguir para conhecer essas oportunidades.
			.boxFlexCard
				.box
					.card-container
						.card-flipper
							.card-front
								.content
									img.ico(src="../../assets/img/icocard1.png", alt="")
									img.giro(src="../../assets/img/gira1.png", alt="")
							.card-back
								.content
									p A adolescência é um período sensível e decisivo do desenvolvimento humano, marcado por transformações físicas, emocionais, cognitivas, sociais e culturais. Essas transformações são vividas de forma plural, atravessadas por marcadores como raça, gênero, sexualidade, classe social e condições de deficiência.
									img.giro(src="../../assets/img/gira2.png", alt="")
					p Desenvolvimento humano singular
				.box
					.card-container
						.card-flipper
							.card-front
								.content
									img.ico(src="../../assets/img/icocard1.png", alt="")
									img.giro(src="../../assets/img/gira1.png", alt="")
							.card-back
								.content
									p A lacuna histórica de políticas específicas para os Anos Finais representa uma oportunidade para a construção de estratégias que considerem as múltiplas dimensões do desenvolvimento dos adolescentes e fortaleçam uma escola alinhada aos princípios da Educação Integral. Neste sentido, a política nacional Escola das Adolescências (2024) é um marco nas políticas educacionais direcionadas para a etapa.
									img.giro(src="../../assets/img/gira2.png", alt="")
					p Políticas Públicas

		section.sec12
			img.img.wow_right(src="../../assets/img/img6.png", alt="")
			.boxText.wow_left
				h2 Superando a visão de “etapa de passagem”
				p Os Anos Finais do Ensino Fundamental possuem valor próprio e devem deixar de ser encarados como um mero intermediário entre etapas. Para de fato atender às necessidades dos adolescentes, a proposta pedagógica deve se apoiar em três pilares fundamentais:
				.boxFlex
					.flex
						.line2
						p <b>Transformações profundas:</b> acompanhar de perto o momento de intenso neurodesenvolvimento e busca por identidade.
					.flex
						.line2
						p <b>Singularidade:</b> desenvolver currículos que dialoguem diretamente com as experiências e aspirações dos jovens.
					.flex
						.line2
						p <b>Intencionalidade:</b> adotar escolhas pedagógicas que façam sentido para o estudante no presente, e não apenas como preparação para o futuro.
				p Reconhecer essa identidade única da etapa é o caminho para garantir trajetórias escolares muito mais engajadoras e significativas.
			.boxOrange.wow_right
				img.ico(src="../../assets/img/ico1.png", alt="")
				p Historicamente, os Anos Finais foram invisibilizados na construção das políticas públicas. Conheça mais sobre a política nacional Escola das Adolescências (MEC, 2024)

		section.sec13.wow_up
			h2 Os objetivos centrais da política
			.flex
				.card
					img(src="../../assets/img/13-01.png", alt="")
					p.title Articulação
					p Rede interfederativa que apoia as transições entre etapas. 
				.card
					img(src="../../assets/img/13-02.png", alt="")
					p.title Atendimento
					p Aprimoramento da governança, do desenvolvimento profissional e da organização curricular.
				.card
					img(src="../../assets/img/13-03.png", alt="")
					p.title Acolhimento
					p Reconhecer a importância do clima e da convivência escolar.
				.card
					img(src="../../assets/img/13-04.png", alt="")
					p.title Aprendizagem
					p Garantir qualidade e equidade para trajetórias de sucesso.
			a.btnLink(href="https://www.youtube.com/watch?v=ZSRErIopdII", target="_blank", rel="noopener noreferrer") 
				img(src="../../assets/img/btnmodal2.png", alt="")
		
		section.sec14
			h2.wow_up Como construir uma escola que faça mais sentido para as adolescências?
			p.wow_up Construir uma escola que faça sentido para os adolescentes implica reconhecer suas singularidades, superar visões estereotipadas e fortalecer práticas baseadas na escuta, no diálogo e na participação. Clique para conhecer mais a respeito.
			.infoClick.wow_up
				img(src="../../assets/img/mouse2.png", alt="")
				p Clique nos itens para entender os pontos.
			.container-accordeon.wow_up
				.corpbtn
					button.accordeon-title(aria-label="A complexidade da nossa rede:")
						h3 Acolhedora e viva
						.seta
					.accordeon-texto
						p A escola dos Anos Finais busca fazer sentido para as e os estudantes adolescentes do século XXI. Para isso, é acolhedora, dinâmica e viva; promove a construção crítica e ativa do conhecimento, exerce a escuta qualificada e dialoga com contextos marcados pela diversidade, pelas transformações aceleradas, pelas tecnologias digitais e pela circulação intensa de informações e desinformações.
						p <b>Quais ações de acolhimento para os estudantes existem hoje na sua rede? Quais foram bem sucedidas e podem ser divulgadas?</b>
				.corpbtn
					button.accordeon-title(aria-label="A complexidade da nossa rede:")
						h3 Plural e democrática
						.seta
					.accordeon-texto
						p A escola dos Anos Finais compromete-se com a superação de preconceitos e com o reconhecimento da adolescência como uma etapa rica em possibilidades físicas, emocionais, cognitivas, sociais e culturais. Para isso, desenvolve iniciativas fundamentadas em conhecimentos científicos sobre o desenvolvimento humano e sobre os contextos sociais, culturais e tecnológicos que marcam a vida dos adolescentes do território.
				.corpbtn
					button.accordeon-title(aria-label="A complexidade da nossa rede:")
						h3 Participativa e centrada nos adolescentes
						.seta
					.accordeon-texto
						p A escola dos Anos Finais reconhece os adolescentes como sujeitos do presente, protagonistas de suas trajetórias, e não apenas como um “vir-a-ser”. Valoriza sua participação, escuta suas vozes e cria oportunidades para que construam sentidos, projetos de vida e experiências de aprendizagem significativas no aqui e agora.
						p <b>Quais ações de protagonismo adolescente existem hoje na sua rede? Quais outras poderiam ser fomentadas?</b>

		section.sec15
			img.detal.wow_up(src="../../assets/img/detal3.png", alt="")
			img.img.wow_left(src="../../assets/img/img7a.png", alt="")
			.boxText.wow_right
				h2 Nova concepção de escola
				p <b>O Referencial Pedagógico de Educação Integral para os Anos Finais do Ensino Fundamental</b> é uma proposta de educação integral para abordar os desafios da etapa, visando minimizar a lacuna existente na abordagem educacional para adolescentes.
				p A proposta da <b>Coalizão de Anos Finais*</b> traz um conjunto de orientações, sugestões e propostas práticas para reformular a abordagem educacional voltada aos adolescentes.
			a.btnLink(href="https://www.institutoreuna.org.br/conteudo/referencial-pedagogico-de-educacao-integral-para-os-anos-finais-do-ensino-fundamental", target="_blank", rel="noopener noreferrer") 
				img(src="../../assets/img/btnmodal3.png", alt="")

		section.sec16.wow_up
			h2 O processo de construção da proposta envolveu
			img.tabela(src="../../assets/img/tabela3.png", alt="ALINHAMENTO COM, LEI DE DIRETRIZES E BASES DA EDUCAÇÃO NACIONAL (LDB) + DIRETRIZES CURRICULARES NACIONAIS (DCNs) + BASE NACIONAL COMUM CURRICULAR (BNCC) + NORMAS SOBRE COMPUTAÇÃO NA EDUCAÇÃO BÁSICA (COMPLEMENTO À BNCC) + PESQUISAS EDUCACIONAIS + PESQUISAS SOBRE AS PERCEPÇÕES DOS ADOLESCENTES SOBRE A ESCOLA + CONHECIMENTOS CIENTÍFICOS SOBRE ADOLESCÊNCIA. DEFINIÇÃO DE PRINCÍPIOS E EIXOS PARA O REFERENCIAL PEDAGÓGICO. CONSOLIDAÇÃO DO REFERENCIAL PEDAGÓGICO.")
			img.detal(src="../../assets/img/detal4.png", alt="")
		
		section.sec17.wow_up
			img.img(src="../../assets/img/img7.png", alt="")
			.boxText
				h2 Vamos construir, com <span>coerência pedagógica sistêmica</span>, uma escola que reconheça as adolescências, promova aprendizagens significativas e garanta o direito à educação integral de qualidade para todos os estudantes!

		section.sec18.wow_up
			.boxText.wow_left
				.bgOrange
					h2 Coerência pedagógica sistêmica
				p Coerência pedagógica sistêmica significa alinhar, de forma integrada e intencional, os diferentes elementos que sustentam o processo de ensino e aprendizagem, como o currículo, a formação dos profissionais, os recursos e pedagógicos e as avaliações.
				p Quando esses elementos dialogam entre si, as decisões educacionais tornam-se mais consistentes e orientadas para a aprendizagem dos estudantes, favorecendo a construção de culturas colaborativas nas redes e o desenvolvimento de estratégias contínuas de acompanhamento e melhoria das práticas pedagógicas.
			img.img.wow_right(src="../../assets/img/img8.png", alt="")
			.infoOrange.wow_right
				img.ico(src="../../assets/img/ico2.png", alt="")
				p A coerência pedagógica sistêmica possibilita uma implementação integrada e articulada desde os níveis da Secretaria até a escola, envolvendo todos os atores escolares.

		section.sec19.wow_up
			h2 Esta Jornada de Aprendizagem foi pensada a partir da Jornada de Implementação da proposta de educação integral para os anos finais do ensino fundamental
			img.img1(src="../../assets/img/19-01.png", alt="Equipes técnicas de Secretaria, Equipes de gestão escolar, Professores")
			.infoClick
				img(src="../../assets/img/mouse2.png", alt="")
				p Clique nos itens para entender os pontos.
			.boxMap
				img.mapa(src="../../assets/img/19-02.png", alt="Mapa")
				button.btn.btnA.pulse
					img(src="../../assets/img/19btn1.png", alt="")
				button.btn.btnB.hide.pulse
					img(src="../../assets/img/19btn2.png", alt="")
				button.btn.btnC.hide.pulse
					img(src="../../assets/img/19btn3.png", alt="")
				button.btn.btnD.hide.pulse
					img(src="../../assets/img/19btn4.png", alt="")
				button.btn.btnE.hide.pulse
					img(src="../../assets/img/19btn5.png", alt="")
				.boxInfo.zoomIn.boxInfosA.hide
					img.img(src="../../assets/img/19box1.png", alt="")
					.boxText
						p <b>Referencial pedagógico de educação integral <br>para os anos finais do ensino fundamental</b>
						p Apresenta orientações para mudanças nas políticas educacionais para os Anos Finais com base nas diretrizes nacionais da etapa, experiências nacionais e internacionais e conhecimentos científicos sobre a adolescência. Possibilita o diálogo com os documentos curriculares locais.
				.boxInfo.zoomIn.boxInfosB.hide
					img.img(src="../../assets/img/19box2.png", alt="")
					.boxText
						p <b>Arquitetura curricular e<br> suas matrizes</b>
						p Apresentam recomendações para a construção de matrizes curriculares voltadas a escolas de tempo parcial e integral, além de ementas para os componentes curriculares sugeridos.
				.boxInfo.zoomIn.boxInfosC.hide
					img.img(src="../../assets/img/19box3.png", alt="")
					.boxText
						p <b>Diretrizes para o fortalecimento <br>dos anos finais</b>
						p Caracterizam um conjunto de materiais que oferecem instrumentos de apoio às equipes técnicas das Secretarias de Educação no alinhamento de sua política educacional ao Referencial Pedagógico, por meio de orientações para planejar, implementar e acompanhar a política.
				.boxInfo.zoomIn.boxInfosD.hide
					img.img(src="../../assets/img/19box4.png", alt="")
					.boxText
						p.menor <b>Trilhas autoinstrucionais</b>
						p Percursos autoinstrucionais voltado para a formação dos profissionais de educação que atuam nos Anos Finais do Ensino Fundamental.
				.boxInfo.zoomIn.boxInfosE.hide
					img.img(src="../../assets/img/19box5.png", alt="")
					.boxText
						p <b>Cadernos orientadores para direção escolar e coordenação pedagógica</b>
						p Apoiam o planejamento e a orientação para a implementação da proposta dos Anos Finais nas unidades escolares em diálogo com as Secretarias de educação.
		
		section.sec20.completeScorm
			img.img.wow_zoomIn(src="../../assets/img/img9.png", alt="")
			h1 Fortalecer os Anos Finais é garantir melhores trajetórias escolares para todas as adolescências! 
			p O convite é para que você avance nesta jornada refletindo sobre a sua rede de ensino e construindo caminhos, com coerência pedagógica sistêmica, que ampliem as oportunidades de aprendizagem e desenvolvimento integral dos adolescentes.
			p Na sequência, você vai aprofundar o olhar sobre as adolescências e conhecer os princípios da Educação Integral que orientam a construção de uma escola que dialogue com seus modos de ser, aprender e se desenvolver.
			img.logoFinal.wow_up(src="../../assets/img/final.png", alt="")
			.rodape.wow_up.delay5
				img(src="../../assets/img/rodape.png", alt="")

block scripts
	script(src="script.js")
