@import '../../less/includes/colors.less';
@import '../../less/includes/fonts.less';
@import '../../scripts/componentes/interaction-accordeon/style.less';

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: #17344D;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #C9D400;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #7b8202;
}

html{
    scroll-behavior: smooth;
}

body {
    font-family: 'Itau Display';
    text-wrap: pretty;
    background-color: #17344D;
}

.headerBase{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    pointer-events: none;

    .headerRef{
        position: relative;
        width: 64rem;
        height: 100%;
        display: flex;
        justify-content: space-between;
        overflow: hidden;
        // background-color: red;
        .modulo{
            position: relative;
            width: 15rem;
            height: 3rem;
            background: #0d3c5c;
            padding: 1rem;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            margin-top: 1rem;
            h1{
                color: #fff;
            }
            box-shadow: 0px 0px 10px 8px rgba(0, 0, 0, 0.27);
        }

        .logos{
            position: relative;
            background: url(../../assets/img/logos.png);
            background-size: contain;
            background-repeat: no-repeat;
            width: 15rem;
            height: 15rem;
            right: 3rem;
            top: -10.5rem; filter: drop-shadow(0 4px 10px rgba(0, 0, 0, 0.4));
        }
    }
}

.mr-full {
    top: 0 !important;
    height: 100vh !important;
    overflow-y: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
    box-shadow: 0px 0px 17px 8px rgba(0, 0, 0, 0.57);
}

.bgtotal {
    width: 100%;
    filter: grayscale(1);
    opacity: .1;
    z-index: -1;
    position: absolute;
    margin-top: -19.1em;
}

h1 {
    font-size: 1.6em;
    font-weight: bold;
    color: #17344D;
}

h2 {
    font-size: 1.45em;
    font-weight: bold;
    color: #17344D;
}

h3 {
    font-size: 1.25em;
    font-weight: bold;
    color: #17344D;
}

p {
    font-size: 0.9em;
    color: #17344D;
}

h1+p,
h1+ul,
h2+p,
h3+p,
h2+ul,
p+ul,
ul+p {
    margin-top: 1em;
}

p+p {
    margin-top: 0.8em;
}

.infoClick {
    display: flex;
    align-items: center;
    gap: 0.7em;
    margin: 3em 0 0;
    img {
        width: 1.2em;
    }
    p {
        font-size: .8em;
        color: #ffffff;
    }
}

section {
    position: relative;
}

.sec1 {
    width: 100%;
    height: 36em;
    position: relative;
    background-image: url('../../assets/img/bg1.png');
    background-size: cover;
    background-repeat: no-repeat;

    .img {
        position: absolute;
        width: 33em;
        top: 0.9em;
        right: 35em;
    }

    .boxright {
        position: absolute;
        width: 26em;
        top: 9.4em;
        right: 4.6em;

        h1 {
            margin: 0 0 .8em;
            color: #17344D;
        }
    }

    .detal {
        position: absolute;
        width: 100%;
        bottom: -.5em;
    }
}

.sec2 {
    .boxImg {
        padding: 4em 0em 3em 5em;
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        .img {
            width: 100%;
            display: block;
        }
        .boxText {
            padding: 0 27.1em 0 4.1em;
            position: absolute;
            h2 {
                margin: 0 0 0.7em;
                color: #00A26C;
            }
            .content {
                padding: 0.8em;
                background-color: #E8E8E8;
                border-radius: 1em;
                margin: 1em 0 0;
            }
        }
    }
}

.sec3 {
    background-image: url('../../assets/img/bg2.png');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 36em;
    display: flex;
    align-items: center;
    .img {
        position: absolute;
        width: 39em;
        left: -4em;
    }
    .boxText {
        position: absolute;
        left: 34.6em;
        padding: 0 5em 0 0;
        h2 {
            color: #00A26C;
            margin: 1.5em 0 0.5em 1.4em;
        }
        .flex {
            display: flex;
            gap: .8em;
            margin: 0 0 0.5em;
            .line1,
            .line2 {
                width: 1.5em;
                height: 0.5em;
                margin: 0.3em 0 0;
            }
            .line1 {
                background-color: #E33800;
            }
            .line2 {
                background-color: #C9D400;
            }
            p {
                width: calc(100% - 2.3em);
            }
        }
    }
    .detal {
        position: absolute;
        width: 100%;
        bottom: -.5em;
    }
}

.sec4 {
    padding: 3.3em 8.8em 8.8em;
    z-index: 1;
    h2 {
        margin: 0 0 0.5em;
        color: #ffffff;
    }
    p {
        color: #ffffff;
    }
    .container-accordeon {
        margin-top: .5em;
    }
    .boxOrange {
        background-color: #E33800;
        position: absolute;
        bottom: -3em;
        left: 8em;
        width: 47.2em;
        padding: 0.5em 3em;
        border-radius: 0 0 0 4em;
        .ico {
            position: absolute;
            left: -2em;
            top: -2em;
            width: 5em;
        }
        p {
            text-align: center;
            // font-size: .8em;
        }
        .content {
            background-color: #ffffff;
            width: 80%;
            border-radius: .5em;
            padding: 0.2em;
            margin: .4em auto 0;
            p {
                color: #E33800;
                font-weight: bold;
            }
        }
    }
}

.sec5 {
    padding: 5.7em 5.7em 3.9em;
    background-color: #ffffff;
    img {
        display: block;
        width: 100%;
    }
    .btnModal {
        width: 100%;    
        display: flex;
        justify-content: center;
        margin: 2.3em auto 0;
        img {
            width: 100%;
            width: 35.4em;
        }
    }
    .boxOrange {
        background-color: #E33800;
        position: absolute;
        bottom: -3em;
        left: 8em;
        width: 47.2em;
        padding: 0.9em 5em;
        border-radius: 1em;
        z-index: 1;
        .ico {
            position: absolute;
            right: -1.3em;
            top: -1.7em;
            width: 5em;
        }
        p {
            text-align: center;
            // font-size: .8em;
            color: #ffffff;
        }
    }
}

.modal1 {
    background-color: #ffffff;

    .modal-close {
        position: absolute;
        top: 1em;
        right: 1em;
        width: 2em;
        height: auto;
        background-image: none !important;

        img {
            width: 100%;
            display: block;
        }
    }

    .boxModal {
        padding: 5em;
        h2 {
            color: #0d3c5c;
            width: 55%;
        }

        .flex {
            display: flex;
            gap: 1em;
            margin: 2em 0 0;

            .boxBlocks {
                width: 50%;
                display: flex;
                gap: 1em;
                flex-wrap: wrap;

                .bloco {
                    width: calc(50% - 1em);
                    background-color: #0d3c5c;
                    padding: 1em;
                    border: .2em solid #000000;
                    border-radius: 1em;
                    display: flex;
                    align-items: center;

                    &.bloco1 {
                        border: .2em solid #FF746E;
                    }
                    &.bloco2 {
                        border: .2em solid #00A26C;
                    }
                    &.bloco3 {
                        border: .2em solid #EC7000;
                    }
                    &.bloco4 {
                        border: .2em solid #3D8CCD;
                    }
   
                    p {
                        color: #ffffff;
                    }
                }
            }

            .boxText {
                width: 50%;
                p {
                    color: #0d3c5c;
                }
                p + p {
                    margin: 1em 0 0;
                }
            }
        }
    }
}

.sec6 {
    width: 100%;
    height: 36em;
    display: flex;
    align-items: center;
    justify-content: center;

    h2{
        color: #fff;
    }

    .boxText {
        width: 28em;
        position: absolute;
        left: 6.1em;
        color: #ffffff;
    
        h2 {
            width: 95%;
        }
        p {
            color: #ffffff;
            margin: 1em 0 0;
        }
    }
    img.img {
        position: absolute;
        width: 39em;
        right: -13em;
    }
}

.sec7 {
    width: 100%;
    height: 35.1em;
    display: flex;
    align-items: center;
    justify-content: center;

    h2 {
            color: #fff;
        }

    img.img {
        position: absolute;
        width: 37em;
        left: -7em;
        top: -3em;
    }
    .boxText {
        width: 26em;
        position: absolute;
        left: 31.6em;
        color: #ffffff;
        margin-top: 2em;
        h2 {
            width: 90%;
        }
        p {
            color: #ffffff;
            margin: 1em 0 0;
        }
        .boxFlex {
            margin: 2em 0 0 -1.5em;
            .flex {
                display: flex;
                gap: .8em;
                margin: 0 0 0.5em;
                .line1,
                .line2 {
                    width: 1.5em;
                    height: 0.5em;
                    margin: 0.3em 0 0;
                }
                .line1 {
                    background-color: #E33800;
                }
                .line2 {
                    background-color: #C9D400;
                }
                p {
                    width: calc(100% - 2.3em);
                    margin: 0;
                }
            }
        }
    }
}

.sec8 {
    background-color: #ffffff;
    padding: 2.5em 7.3em 8.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    h2 {
        color: #17344D;
    }
    .img {
        display: block;
        width: 53.6em;
        margin: 1em 0 0;
    }
    .boxOrange {
        background-color: #E33800;
        position: absolute;
        bottom: -1em;
        left: 8em;
        width: 47.2em;
        padding: 0.9em 4em;
        border-radius: 1em;
        z-index: 1;
        .ico {
            position: absolute;
            right: -1.3em;
            top: -1.7em;
            width: 5em;
        }
        p {
            // font-size: .8em;
            color: #ffffff;
        }
        p + p {
            margin: 1em 0 0;
        }
    }
}

.sec9 {
    padding: 3.5em 9.2em 9.8em;
    h2 {
        color: #ffffff;
        margin: 0 0 0.6em;
    }
    p {
        color: #ffffff;
    }
    .infoClick {
        margin: 2.2em 0 0;
    }
    .topicos {
        width: 34.8em;
        margin: 1.5em auto 0;
        .flexButtons {
            display: flex;
            position: relative;
            z-index: 1;
            button {
                width: calc(100% / 3);
                display: flex;
                justify-content: space-between;
                align-items: center;
                background-color: #E33800;
                border-radius: 1em;
                padding: 0.2em 0.7em;
                p {
                    color: #ffffff;
                    font-size: 1em;
                    font-weight: bold;
                }
                .seta {
                    background-image: url('../../assets/img/seta-bottom.png');
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                    width: 2.2rem;
                    height: 2rem;
                    transform: rotate(180deg);
                    transition-duration: .3s;
                }
                &.active {
                    background-color: #C9D400;
                    color: white;
                    p {
                        color: #17344D;
                    }
                    .seta {
                        background-image: url('../../assets/img/seta-top.png');
                        transform: rotate(0deg);
                    }
                }
            }
        }
        .box {
            display: none;
            background-color: #ffffff;
            margin: -1.2em 0 0;
            padding: 3em 1.2em 1.5em;
            border-radius: 0 0 1em 1em;
            &.active {
                display: block;
                animation: simpleFade 0.4s ease-out;
            }
            p {
                color: #17344D;
            }
            .small {
                font-size: .8em;
                margin: 1em 0 0;
            }
        }
    }

    @keyframes simpleFade {
        from { opacity: 0; }
        to { opacity: 1; }
    }

    .detal {
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 2em;
    }
}

.sec10 {
    padding: 1.4em 8.6em 3.5em;
    h2 {
        color: #ffffff;
        margin: 0 0 0.5em;
    }
    p {
        color: #ffffff;
    }
    .container-accordeon {
        .corpbtn {
            .accordeon-texto {
                p + p {
                    margin: 1em 0 0;
                }
            }
        }
    }
}

.sec11 {
    background-image: url('../../assets/img/bg2.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 3em 8.5em;
    h2 {
        margin-bottom: 1em;
        color: #17344D;
    }
    p + p {
        margin-top: 2em;
    }
    .infoClick {
        margin: 2.9em 0 0;
        p {
            color: #17344D;
        }
    }
}

.sec12 {
    width: 100%;
    height: 37.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    h2{
        color: #fff;
    }
    img.img {
        position: absolute;
        width: 38em;
        right: -9.7em;
        top: 2em;
    }
    .boxText {
        width: 26em;
        position: absolute;
        left: 7.8em;
        color: #ffffff;
        margin-top: 0em;
        h2 {
            width: 90%;
        }
        p {
            color: #ffffff;
            margin: 1em 0 0;
        }
        .boxFlex {
            margin: 2em 0 0 0em;
            .flex {
                display: flex;
                gap: .8em;
                margin: 0 0 0.5em;
                .line1,
                .line2 {
                    width: 1.5em;
                    height: 0.5em;
                    margin: 0.3em 0 0;
                }
                .line1 {
                    background-color: #E33800;
                }
                .line2 {
                    background-color: #C9D400;
                }
                p {
                    width: calc(100% - 2.3em);
                    margin: 0;
                }
            }
        }
    }
    .boxOrange {
        background-color: #E33800;
        position: absolute;
        bottom: -3.7em;
        left: 8em;
        width: 47.2em;
        padding: 1.1em 3em;
        border-radius: 0 0 0 4em;
        .ico {
            position: absolute;
            left: -2em;
            top: -1.5em;
            width: 4.5em;
        }
        p {
            text-align: center;
            // font-size: .8em;
            color: #ffffff;
        }
    }
}

.sec13 {
    padding: 6em 4em 1.2em;
    background-color: #ffffff;
    h2 {
        color: #17344D;
        margin-left: 3em;
    }
    .flex {
        display: flex;
        justify-content: space-between;
        margin: 3em 0 0;
        .card {
            width: 12em;
            img {
                width: 100%;
                display: block;
                margin: 0 0 1em;
            }
            .title {
                font-weight: bold;
                margin-bottom: .5em;
            }
            p {
                text-align: center;
            }
        }
    }
    .btnLink {
        width: 36em;
        display: block;
        margin: 2.4em auto;
        img {
            width: 100%;
            display: block;
        }
    }
}

.sec14 {
    padding: .1em 8.6em 1.5em;
    background-color: #ffffff;
    h2 {
        color: #17344D;
    }
    p {
        color: #17344D;
        margin: 1em 0 0;
    }

    .accordeon-title h3 {
        color: #fff;    
    }

    .infoClick {
        display: flex;
        align-items: center;
        gap: 0.7em;
        margin: 2.7em 0 .5em;
    }
    .container-accordeon {
        .corpbtn {
            .accordeon-title {
                background-color: #17344D;
                color: #ffffff;
                .seta {
                    background-image: url('../../assets/img/seta-bottom.png');
                }
                &.is-opened {
                    background-color: #E33800;
                }
            }
            .accordeon-texto {
                box-shadow: 0em 0.1em 0.5em #0003;
            }
        }
    }
}

.sec15 {
    padding: 0 0 2em;
    .detal {
        width: 100%;
        display: block;
        margin: .5em 0 0;
    }
    .img {
        width: 29.3em;
        position: absolute;
        top: 7.7em;
        left: 1.5em;
    }
    .boxText {
        position: absolute;
        top: 10.4em;
        left: 32em;
        width: 25em;
        h2 {
            color: #ffffff;
            margin: 0 0 0.8em;
        }
        p {
            color: #ffffff;
            margin-bottom: 1.3em;
            b {
                color: #C9D400;
            }
        }
    }
    .btnLink {
        width: 36em;
        display: block;
        margin: 25.7em auto 0;
        img {
            width: 100%;
            display: block;
        }
    }
}

.sec16 {
    padding: 4em 9.8em 4.5em;
    background-image: url('../../assets/img/bg2.png');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    h2 {
        color: #17344D;
        text-align: center;
    }
    .tabela {
        display: block;
        width: 100%;
        margin: 1.3em auto 0;
    }
    .detal {
        position: absolute;
        width: 100%;
        bottom: -.5em;
        left: 0;
        z-index: 1;
    }
}

.sec17 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4.5em 4em;
    background-color: #E33800;
    .img {
        display: block;
        width: 100%;
    }
    .boxText {
        position: absolute;
        background-color: #17344D;
        padding: 1.5em;
        width: 48em;
        bottom: 0.7em;
        border-radius: 1em;
        h2 {
            font-size: 1.2em;
            color: #ffffff;
            span {
                background-color: #E33800;
                border-radius: 0.3em;
                padding: 0 0.3em;
            }
        }
    }
}

.sec18 {
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36em;
    background-color: #ffffff;
    .boxText {
        position: absolute;
        left: 7em;
        width: 22.5em;
        .bgOrange {
            background-color: #E33800;
            padding: 1em;
            border-radius: 1em;
            h2 {
                color: #ffffff;
            }
        }
        p {
            color: #17344D;
            margin: 1em 1.5em 0;
        }
    }
    .img {
        position: absolute;
        right: 1.6em;
        top: 2em;
        width: 28em;
    }
    .infoOrange {
        background-color: #E33800;
        position: absolute;
        bottom: 1em;    
        width: 47em;
        padding: 1em;
        border-radius: 1em;
        p {
            color: #ffffff;
        }
    }
}

.sec19 {
    padding: 1em 3em;
    background-color: #ffffff;
    height: 42em;

    h2 {
        color: #17344D;
    }

    .img1 {
        width: 31em;
        margin: 1.4em 0 0 5.2em;
    }

    .infoClick {
        margin: 2.2em 0 0;
        p {
            color: #17344D;
        }
    }

    .boxMap {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        height: 37.4em;
        .mapa {
            width: 58.7em;
            display: block;
            position: absolute;
            top: 1.1em;
            left: -1.4em;
            z-index: 1;
            pointer-events: none;
        }
        .btn {
            position: absolute;
            height: 2.3em;
            img {
                height: 100%;
            }

            &.btnA {
                top: 1.2em;
                left: 0.5em;
            }
            &.btnB {
                top: 16.1em;
                left: 0.9em;
            }
            &.btnC {
                top: 16.1em;
                left: 18.5em;
                z-index: 1;
            }
            &.btnD {
                top: 1.2em;
                left: 30.2em;
            }
            &.btnE {
                top: 1.2em;
                left: 45.6em;
            }
        }

        .boxInfo {
            // display: none;
            position: absolute;
            z-index: 1;
            display: flex;
            align-items: center;
            .boxText {
                position: absolute;
                p {
                    position: relative;
                }
                p + p {
                    margin: 1em 0 0;
                }
            }
            &.boxInfosA {
                left: 0.4em;
                top: 2.3em;
                width: 27.5em;
                .boxText {
                    padding: 2.2em 1.4em 0 1em;
                    p {
                        color: #17344D;
                    }
                    .menor {
                        width: 27em;
                    }
                }
            }
            &.boxInfosB {
                left: 0.3em;
                top: 18.1em;
                width: 16.8em;
                .boxText {
                    padding: 2em 2em 1em 1em;
                    p {
                        color: #ffffff;
                    }
                }
            }
            &.boxInfosC {
                left: 18.4em;
                top: 18.6em;
                width: 25em;
                .boxText {
                    padding: 2em 2em 1.1em 1em;
                    p {
                        color: #ffffff;
                    }
                }
            }
            &.boxInfosD {
                left: 30em;
                top: 4.2em;
                width: 13.6em;
                .boxText {
                    padding: 1em 1em 0em 1em;
                    p {
                        color: #ffffff;
                    }
                    .menor {
                        width: 10em;
                    }
                }
            }
            &.boxInfosE {
                right: -0.4em;
                top: 4.1em;
                width: 11.8em;
                .boxText {
                    padding: 5em 1em 0;
                    p {
                        color: #ffffff;
                    }
                }
            }
            .img {
                width: 100%;
                display: block;
                position: relative;
            }
        }
    }

}

.sec20 {
    padding: 0em 6.9em;
    display: flex;
    flex-direction: column;
    background-image: url('../../assets/img/bg2.png');
    background-size: cover;
    background-repeat: no-repeat;

    .img {
        width: 100%;
        display: block;
        margin: -1em 0 0;
    }

    h2 {
        margin: 1em 0 0;
        text-align: center;
        color: #0d3c5c;
    }

    p {
        margin: 1em 0 0;
        color: #0d3c5c;
    }

    .logoFinal {
        display: block;
        margin: 3em auto 0;
        width: 11em;

    }

    .rodape {
        position: relative;
        width: 200%;
        height: 10rem;
        margin-top: 2rem;
        left: -50%;

        img {
            position: relative;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}