mixin help()
    +modal("help", "modal modal-theme-01")
        .conteinerModal
            .lad
                +image('btnHelp.svg', 'ico')
                .containerLad2
                    .ix.ix1
                        h1(tabindex=acessib_count++) Como jogar
                        ul
                            li Tome decisões durante a trajetória, sempre pensando em sua missão e no objetivo de atingir todos os indicadores.
                            li Atenção para as recompensas! Você poderá ganhar muitas durante o jogo.
                            li Use os recursos de navegação sempre que precisar, acessando os botões indicados aqui ao lado.
                            li Todos os palcos e atividades precisam ser acessados para que o Festival aconteça e o treinamento seja concluído.
                    .ix.ix2
                        .it
                            +image('btnHome.svg')
                            p Voltar para o menu
                        .it
                            +image('btnMap.svg')
                            p Acessar o mapa
                        .it
                            +image('btnHelp2.svg')
                            p Ajuda
                        .it
                            +image('button-close.svg')
                            p Fechar janela
                        .it
                            +image('btnVoltar.svg')
                            p Voltar
                        .it
                            +image('btnAvancar.svg')
                            p Avançar
                        
